@font-face {
  font-family: "DM Mono";
  src: url("fonts/DMMono-Regular.ttf")
}


@font-face {
  font-family: "Konkhmer";
  src: url("fonts/KonkhmerSleokchher-Regular.ttf")
}


@font-face {
  font-family: "Hammersmith";
  src: url("fonts/HammersmithOne-Regular.ttf")
}

@view-transition {
  navigation: auto;
}

@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

::view-transition-old(root) {
  animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-out;
}

::view-transition-new(root) {
  animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-in;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 80%, rgba(113, 110, 110, 1) 150%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}















@layer rays {
  img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
  }


  .ease {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
  }




  .img3 {
    animation: fade3 15s linear infinite;
    z-index: 1;
  }


  .img2 {
    mix-blend-mode: screen;
    animation: fade2 15s linear infinite;
    z-index: 2;
  }


  .img1 {
    animation: fade1 15s linear infinite;
    z-index: 3;
  }


  @keyframes fade3 {


    10%,
    90% {
      opacity: 1;
    }
  }


  @keyframes fade2 {


    20%,
    97.5% {
      opacity: 1
    }
  }


  @keyframes fade1 {


    30%,
    95% {
      opacity: 1
    }
  }
}








@layer logo {


  .title {
    position: absolute;
    font-family: "Konkhmer";
    z-index: 4;
    width: 40%;
    top: 0%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    left: 30px;
  }


  #title {
    position: relative;
    color: white;
    letter-spacing: 8px;
    font-size: 100px;
    width: 70%;

    top: 10%;
    left: 2.5%;
  }


  #name {
    position: relative;
    color: rgb(141, 141, 141);
    font-size: 35px;
    letter-spacing: 2px;
    transform: translate(0, -90%);
    left: 3%;
    top: 5%;
    width: 70%;
  }








  .nav-wrapper {
    position: absolute;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 70%;
    height: auto;
    animation: fade4 10s linear forwards;
    z-index: 4;
  }

  @keyframes fade4 {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav__list {
    position: sticky;
    top: 50%;
    left: 57.5%;
    transform: translate(0, -180%);
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin-left: 100px;
  }

  .nav__list li {
    display: flex;
    align-items: center;
  }

  .nav__list a {
    font-family: "Konkhmer", sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }


  .home {
    margin-right: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem; /* ESPACE AUTOUR DU TEXTE */
    border: 5px solid transparent;
    border-radius: 1.75rem;
    background: transparent;
    background-image: 
      linear-gradient(90deg, black, black), 
      linear-gradient(90deg, hsl(305, 100%, 51%), hsl(36, 100%, 50%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    box-sizing: border-box;
    font-family: "Konkhmer", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  
  .home__label {
    line-height: 50px;
    min-width: 150px;
    padding: 0 0.25em; /* optionnel, un mini espace interne si besoin */
    background-image: linear-gradient(90deg, hsl(305, 100%, 51%), hsl(36, 100%, 50%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 30px;
  }

  .home.hidden {
    visibility: hidden;
  }



  .home__label:hover {
    background-image: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(0, 0%, 0%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 30px;
  }

  .home:hover {
    transition: 5s;
    background: transparent;
    background-image: linear-gradient(90deg, hsl(36, 100%, 50%), hsl(305, 100%, 51%)),
      linear-gradient(90deg, hsl(36, 100%, 50%), hsl(305, 100%, 51%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 5px solid transparent;
    border-radius: 1.75rem;
  }



















  .card {
    top: 60%;
    left: 67.5%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 5;
  }

  .card-inner {
    position: relative;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
  }


  #card-content {
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: 'Konkhmer';
    color: white;
  }

  .card-section {
    align-items: center;
    letter-spacing: 2px;
    font-size: small;
    color: #9E9E9E;
    font-family: 'Konkhmer';
  }

  #avatar {
    background-image: url("images/avatar.png");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    grid-row: span 3;
    margin-right: 15px;
  }





















  #img1 {
    position: fixed;
    /* Fixe l’image pour éviter qu'elle déborde au redimensionnement */
    top: 75%;
    left: 87.5%;
    transform: translate(-50%, -50%);
    width: min(auto, auto);
    /* Empêche l’image de dépasser la taille de l’écran */
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    overflow: hidden;
  }

  #img2 {
    position: fixed;
    left: 38%;
    top: 27%;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    /* Ajuste l'image sans distorsion */
    z-index: 3;
  }

  #img3 {
    position: fixed;
    left: 41%;
    top: 80%;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    /* Ajuste l'image sans distorsion */
    z-index: 3;
  }























  .proj-list {
    z-index: 5;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    flex: 1;
    height: 50%;
    gap: 30px;
  }

  .proj1:not(img),
  .proj2:not(img),
  .proj3:not(img),
  .proj4:not(img) {
    background-color: white;
    flex: 1;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
  }

  .proj1 a,
  .proj2 a,
  .proj3 a,
  .proj4 a {
    width: 100%;
  }

  .proj1 img,
  .proj2 img,
  .proj3 img,
  .proj4 img {
    width: 100%;
    height: 80%;
  }

  .proj1:hover,
  .proj2:hover,
  .proj3:hover,
  .proj4:hover {
    transition: 0.9s;
    box-shadow: 1px 1px rgb(0, 0, 0), 0 0 1.5em rgb(0, 0, 0);
    filter: brightness(0.6);
    transform: scale(1.05);
  }




  .skills-list {
    z-index: 5;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    flex: 1;
    height: 50%;
    gap: 15px;
    padding: 10px;
  }

  .skill1:not(img),
  .skill2:not(img),
  .skill3:not(img),
  .skill4:not(img),
  .skill5:not(img),
  .skill6:not(img),
  .skill7:not(img) {
    color: white;
    font-family: "Konkhmer";
    text-align: center;
    background-color: transparent;
    flex: 1;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
    min-height: 495px;
  }

  .skills-list h1  {
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 200px;
    height: 22%;
    border-bottom: solid 2px white;
    display: flex;
    justify-content: center;
    min-width: 100px;
  }

  .skills {
    list-style-type: none;
    line-height: 5em;
  }
}



@layer rays, logo;